body{
    padding: 0%;
    background-color: black;
}
#navbar {
    z-index: 1;
    position: fixed;
    top: 0px;
    background-color: black;
    height: 116px;
    width: 99%;
    margin-top: 0%;
    padding-bottom: 0%;
    margin-bottom: auto;
    
}
.lk{
    padding-left: 5%;
}
.logo{
    width: 250px;
    height: 80px;
    margin-top: 15px;
    display: inline;
}
.home{
    margin-left: 450px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
    
    
}
.home:hover{
    color: rgb(238, 40, 40);;
}
.about{
    margin-left: 60px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
   
    
}
.about:hover{
    color: rgb(238, 40, 40);;
}
.menu{
    margin-left: 60px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    
}
.menu:hover{
    color: rgb(238, 40, 40);;
}
.feedback{
    margin-left: 60px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
}
.feedback:hover{
    color: rgb(238, 40, 40);;
}
.contact{
    margin-left: 60px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
    
}
.contact:hover{
    color: rgb(238, 40, 40);;
}
.button1{
    margin-left: 60px;
    color: #ffffff;
    background-color: rgb(238, 40, 40);
    border: solid rgb(238, 40, 40);
    border-radius: 5px;
    font-size: 17px;
    height: 40px;
    width: 150px;
   cursor: pointer;
   margin-top: 0px;
}

.po{
    background-image: url(./images-22-1.jpg);
    height: 700px;
    width: 1565px;
    justify-content: center;
    justify-items: center;
    margin-bottom: 0px;
}
.logo2{
    width: 500px;
    height: 180px;
    margin-top: 25px;
    padding-left: 550px;
}
.main{
    color: white;
    margin-top: 35px;
    padding-left: 460px;
    font-size: 80px;
}
.mainp{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.button2{
    color: #ffffff;
    background-color: rgb(238, 40, 40);
    border: solid rgb(238, 40, 40);
    border-radius: 5px;
    font-size: 17px;
    height: 50px;
    width: 180px;
    margin-top: 50px;
    margin-left: 700px;
    cursor: pointer;
    
}
.d2{
    background-color: black;
    margin: 0%;
    padding-left: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.copy{
    float: right;
    width: 500px;
    padding-right: 30px;
    
}
.dis{
    color: tomato;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    display: inline;
    margin: 0px;
}
.p2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    display: inline;
}

.he2{
    color: #ffffff;
    font-family: sans-serif bold;
}
.mai{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: small;
    margin-left: 0%;
}
.l2{
    margin-left: 25px;
}
.hh{
    padding-top: 300px;
    color: white;
    margin: 0%;
    font-size: 30px;
    padding-left: 630px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hhh{
    padding-top: 12px;
    color: white;
    margin: 0%;
    font-size: 30px;
    padding-left: 670px;
}
.oll{
    background-image: url(./lp.jpg);
    height: 700px;
    width: 1550x;
    margin: 0px;
}
.jkl{
    background: url(./pl.jpg);
    padding: 5px;

}
.kkk{
    margin-left: 60px;
}
.kjk{
    margin-left: 60px;
}
.kkj{
    margin-left: 60px;
}
.are{
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
}
.hjk{
    color: #ffffff;
    font-size: x-large;
}
.ert{
    color: #ffffff;
    display: inline;
    margin-left: 250px;
    
    font-size: larger;
    font-weight: bolder;
}
.ery{
    color: aliceblue;
    display: inline;
    margin-left: 350px;
}
.eru{
    color: #ffffff;
    margin-left: 350px;
}
.sss{
    margin-top: 50px;
    font-size: x-large;
    font-weight: bolder;
}
#footer-container {
    background-color: black;
    width: 100%;
    height: 400px;
    padding-top: 60px;
}

.box1 {
    word-spacing: 10px;
    line-height: 25px;
    margin-right: 50px;
    margin-left: 80px;
    display: inline-block;
    width: 250px;
    height: 300px
}


.box2 {


    margin-right: 10px;

    display: inline-block;
    width: 250px;
    height: 300px
}

.box3 {

    margin-right: 10px;

    display: inline-block;
    width: 250px;
    height: 300px
}

.box4 {

    margin-right: 10px;

    display: inline-block;
    width: 170px;
    height: 300px
}



.social-icons> ion-icon {
    width: 30px;
    height: 30px;
}

.social-icons>ion-icon:hover {
    color: red;
}

.social-icons>ion-icon:active {
    color: aqua;
}

.social-icons-border {
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
}




.pointer {
    line-height: 30px;
    
}

.pointer a:link {
    color: white;
    text-decoration: none;
}

.pointer a:hover {
    color: rgb(225, 71, 71);
    text-decoration: none;
}

.pointer a:active {
    color: #4d4d4d;
}

#email {

    width: 150px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
}

#email::placeholder {
    color: grey;
    font-size: 15px;
}



#button {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: red;
    width: 120px;
    height: 40px;
    border-radius: 4px;
}

#button:hover {
    background-color: #ab3737;
}
.mnmn{
    color: #ffffff;
}