* {
    font-family:  Verdana, sans-serif;
    color: white;
}

body {
    background-color: black;
}

#navbar {
    z-index: 1;
    position: fixed;
    top: 0px;
    background-color: black;
    height: 116px;
    width: 99%;
    margin-top: 0%;
    padding-bottom: 0%;
    margin-bottom: auto;
    
}
.lk{
    padding-left: 5%;
}
.logo{
    width: 250px;
    height: 80px;
    margin-top: 15px;
    display: inline;
}
.home{
    margin-left: 450px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
    
    
}
.home:hover{
    color: rgb(238, 40, 40);;
}
.about{
    margin-left: 60px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
   
    
}
.about:hover{
    color: rgb(238, 40, 40);;
}
.menu{
    margin-left: 60px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    
}
.menu:hover{
    color: rgb(238, 40, 40);;
}
.feedback{
    margin-left: 60px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
}
.feedback:hover{
    color: rgb(238, 40, 40);;
}
.contact{
    margin-left: 60px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
    
}
.contact:hover{
    color: rgb(238, 40, 40);;
}
.button1{
    margin-left: 60px;
    color: #ffffff;
    background-color: rgb(238, 40, 40);
    border: solid rgb(238, 40, 40);
    border-radius: 5px;
    font-size: 17px;
    height: 40px;
    width: 150px;
   cursor: pointer;
   margin-top: 0px;
}


/* --------------main body ----------- */


#bg-picture {
    margin-top: 100px;
    height: 420px;
    background-image: url(../pictures/pic3.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#heading-picture {
    text-align: center;
    font-size: larger;
}

#heading-picture img {
    width: 340px;
    height: 80px;
    position: relative;
    top: 25px;
}

#heading-about {
    font-size: 40px;
    text-align: center;
}

#para1 {
    text-align: center;
    font-size: 14px;
}


#box1 {
    margin-top: 40px;
    width: 100%;
    height: 600px;

}

#heading2 {
    text-align: center;
    color: red;
}

#para2 {
    text-align: center;
    font-size: 12px;
}

#box2 {
    display: inline-block;

}

#box2 img {
    width: 320px;
    height: 320px;
    margin: 30px 30px 0px 150px;

}

#box3 {
    width: 500px;
    height: 300px;
    display: inline-block;
    position: absolute;
    top: 800px;

}

#heading3 {
    color: red;
    margin-bottom: 0px;

}

#founder {
    margin-top: 10px;
}

#para3 {
    font-size: 15px;
    line-height: 24px;

}

#box4 {
    margin-top: 50px;

}

#para4 {
    padding: 0px 160px 0px 160px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}


#box5>img {

    width: 60%;
    height: 350px;
}

#box5 {
    text-align: center;
    margin-top: 50px;

}


/* /*****footer**** */

#footer-container {
    background-color: rgb(48, 46, 46);
    width: 100%;
    height: 400px;
    padding-top: 60px;
}

.box1 {
    word-spacing: 10px;
    line-height: 25px;
    margin-right: 50px;
    margin-left: 80px;
    display: inline-block;
    width: 250px;
    height: 300px
}


.box2 {


    margin-right: 10px;

    display: inline-block;
    width: 250px;
    height: 300px
}

.box3 {

    margin-right: 10px;

    display: inline-block;
    width: 250px;
    height: 300px
}

.box4 {

    margin-right: 10px;

    display: inline-block;
    width: 170px;
    height: 300px
}



.social-icons> ion-icon {
    width: 30px;
    height: 30px;
}

.social-icons>ion-icon:hover {
    color: red;
}

.social-icons>ion-icon:active {
    color: aqua;
}

.social-icons-border {
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
}




.pointer {
    line-height: 30px;
    
}

.pointer a:link {
    color: white;
    text-decoration: none;
}

.pointer a:hover {
    color: rgb(225, 71, 71);
    text-decoration: none;
}

.pointer a:active {
    color: #4d4d4d;
}

#email {

    width: 150px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
}

#email::placeholder {
    color: grey;
    font-size: 15px;
}



#button {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: red;
    width: 120px;
    height: 40px;
    border-radius: 4px;
}

#button:hover {
    background-color: #ab3737;
}